.home{
    padding: 0px 10px;
    padding-bottom: 100px;
}
.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 120px;
}
.hero h1{
    font-size: max(4vw, 36px);
}
.hero p{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}
.hero form{
    padding: 8px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 8px rgb(43, 42, 42);
}
.hero input{
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
}
.hero button{
    padding: 6px 24px;
    background-color: rgb(73, 163, 73);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s;
}
.hero button:hover{
    background-color: rgb(51, 190, 51);
}

/* Styling crypto table layout */
.crypto-table{
    max-width: 800px;
    margin: auto;
    background: linear-gradient(rgba(84,3,255,0.15),rgba(105,2,153,0.15));
    border-radius: 15px;
    overflow: hidden;
}
.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 1.8fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #534c4c;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: 600;
}
.table-layout:not(:first-child):hover {
    scale: 1.02;
    background-color: #ffffff09;
}
.market-cap{
    text-align: right;
}
.table-layout div{
    display: flex;
    align-items:center;
    gap:10px;
}
.table-layout div img{
    width: 35px;
}
.price-change{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.table-layout .green{
    color: #00D515;
    text-align: center;
}
.table-layout .red{
    color: #ff4646;
    text-align: center;
}

.view-more-container {
    text-align: center;
    margin-top: 40px;
}
  
.view-more-button {
    padding: 6px 24px;
    background-color: rgb(73, 163, 73);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s;
}
.view-more-button:hover{
    background-color: rgb(51, 190, 51);
}
  
/* Responsiveness for Mobile */
@media screen and (max-width: 768px){
    .table-layout{
        /* grid-template-columns: 0.5fr 3fr 1fr 1fr; */
        grid-template-columns: 0.6fr 2.5fr 1.3fr 1fr;
    }
    .market-cap{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .table-layout div img{
        width: 25px;
    }
    .table-layout{
        font-size: 0.76rem;
    }
}