.spinner{
    display: grid;
    place-self: center;
    min-height: 80vh;   
}
.spin{
    width: 50px;
    height: 50px;
    place-self: center;
    border: 4px solid #bdbdbd;
    border-top-color: #4500c6;
    border-radius: 50%;
    animation: rotate 2s infinite linear;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

/* Crypto details stylings */
.coin{
    padding: 0 20px;
}
.coin-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 100px auto;
    margin-bottom: 50px;
}
.coin-name img {
    max-width: 100px; 
    transition: transform 0.4s ease-out; 
  }
.coin-name img:hover {
    transform: scale(1.2) rotateY(360deg);
}
.coin-name p{
    font-family: monospace;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
}
.coin-chart{
    max-width: 700px;
    height: 300px;
    margin: auto;
}
.coin-info{
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.coin-info ul{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(102, 95, 95);
    list-style: none;
}
.coin-info ul :last-child{
    font-weight: 300;
}

/* Responsiveness for Mobile */
@media screen and (max-width: 768px){
    .coin-name p{
        font-size: 26px;
    }
    .coin-chart{
        height: 250px;
    }
}